<?xml version="1.0" ?>
<launch>
  <arg name="load_gripper" default="false" />
  <arg name="load_handle" default="false" />
  <arg name="load_driller" default="false" />
  <arg name="load_driller_new" default="false" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

  <include file="$(find panda_moveit_config)/launch/move_group.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
    <arg name="load_handle" value="$(arg load_handle)" />
    <arg name="load_driller" value="$(arg load_driller)" />
    <arg name="load_driller_new" value="$(arg load_driller_new)" />
  </include>
</launch>
